extends layout

block content
  body(data-spy='scroll', data-target='.scrollspy')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1.masthead-brand Reculta
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='/') Home
                  li
                    a(href='/logout') Logout
                  li
                    a(href='#') Contact
        
          .container-fluid 
                  form.form-signin
                    h2.form-signin-heading You are logged in
                    br 
                    br
                   

          .mastfoot
            .inner
              p
                | Cover template for 
                a(href='http://getbootstrap.com') Bootstrap
                |  , by 
                a(href='https://twitter.com/mdo') @mdo
                | .
    