extends layout

block content
  body(data-spy='scroll', data-target='.scrollspy')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix(style="position: relative;")
            .inner
              h1.masthead-brand Reculta
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='/') Home
                  li
                    a(href='/logout') Logout
                  li
                    a(href='/dashboard') Dashboard


              
        
          .container-fluid 
            form.form-signin(name='profile', method='post', action='/')
                
            form.form-horizontal(style="padding-top:10px")
              br
              h2.form-signin-heading Welcome <em><span class="text-info"><strong>#{username}</strong></em></span>, Please Complete Your profile.
                br
                br
              .form-group
                <label style="float:left; padding-left:130px;font-size:20px"><span>Academic Qualifications</span></label>
                br
                br
                label.col-sm-2.control-label X<sup>th</sup> School
                .col-sm-10
                  input.form-control(name='school',type='text', placeholder='School')
                  
              .form-group
                label.col-sm-2.control-label X<sup>th</sup> Board
                .col-sm-10
                  input.form-control(name='board',type='text', placeholder='Board')

              .form-group
                label.col-sm-2.control-label Percentage
                .col-sm-10
                  input.form-control(name='marks',type='text', placeholder='Total Percentage')
              
              .form-group
                label.col-sm-2.control-label(for='exampleInputFile') Marks Card
                .col-sm-10  
                  input#xthproof(type='file') 
                hr
                br
                label.col-sm-2.control-label XII<sup>th</sup> School
                .col-sm-10
                  input.form-control(name='school',type='text', placeholder='School')
                  
              .form-group
                label.col-sm-2.control-label XII<sup>th</sup> Board
                .col-sm-10
                  input.form-control(name='board',type='text', placeholder='Board')

              .form-group
                label.col-sm-2.control-label Percentage
                .col-sm-10
                  input.form-control(name='marks',type='text', placeholder='Total Percentage')
              
              .form-group
                label.col-sm-2.control-label(for='exampleInputFile') Marks Card
                .col-sm-10  
                  input#xthproof(type='file')               
  
                hr
                br
                label.col-sm-2.control-label College
                .col-sm-10
                  input.form-control(name='school',type='text', placeholder='College')
                  
              .form-group
                label.col-sm-2.control-label Board
                .col-sm-10
                  input.form-control(name='board',type='text', placeholder='Board')

              .form-group
                label.col-sm-2.control-label Percentage
                .col-sm-10
                  input.form-control(name='marks',type='text', placeholder='Total Percentage')
              
              .form-group
                label.col-sm-2.control-label(for='exampleInputFile') Marks Card
                .col-sm-10  
                  input#xthproof(type='file')               
  

                  br
                  button.btn.btn-lg.btn-success.btn-block(type='submit') Submit
              br
              br
        

                   

          .mastfoot(style="position: relative;")
            .inner
              p
                | Cover template for 
                a(href='http://getbootstrap.com') Bootstrap
                |  , by 
                a(href='https://twitter.com/mdo') @mdo
                | .
    